* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

nav div a img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

nav ul li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
}

#home {
    background-size: cover;
    background-position: center; 
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#homeTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#homeImg {
    background-image: url("img/logo2.jpg");
    background-size: cover;
    background-position: center; 
}

#about {
    background-image: url("img/background4.png");
    background-size: cover;
    background-position: center;
    background-color: #eee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services {
    background-image: url("img/background5.png");
    background-size: cover;
    background-position: center; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact {
    background-image: url("img/background6.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#links {
    background-image: url("img/background7.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}