* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

nav div a img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

nav ul li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
}

#home {
    background-size: cover;
    background-position: center; 
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#homeTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#homeImg {
    /* background-image: url("img/logo3.jpg"); */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeImg img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-left: 200px;
}

#homeTxt h3 {
    font-size: 40px;
    margin-right: 200px;
    font-family: 'Lobster', cursive;
}

#homeTxt a {
    display:inline-block;
    padding:0.3em 1.2em;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    margin-right: 200px;
    margin-top: 10px;
    background-color: green;
}

#about {
    background-image: url("img/background4.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services {
    background-image: url("img/background5.png");
    background-size: cover;
    background-position: center; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact {
    background-image: url("img/background6.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#links {
    background-image: url("img/background7.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}